.container-background {
    background-image: url("resources/image/waitingRoomPc.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

@media (max-width: 768px) {
    .container-background {
        background-image: url("resources/image/waitingRoomMobile.png");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }
}

